/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    flavor = "balanced";
    tapping_term_ms = <200>;
};

&sl {
    release-after-ms = <2000>;
};

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
		  bindings = <
        &kp Q          &kp W          &kp E          &kp R          &kp T                 &kp Y          &kp U          &kp I          &kp O          &kp P 
        &mt LCMD A     &mt LALT S     &mt LCTRL D    &mt LSHFT F    &kp G                 &kp H          &mt RSHFT J    &mt RCTRL K    &mt RALT L     &mt RCMD SCLN
        &kp Z          &kp X          &kp C          &kp V          &kp B                 &kp N          &kp M          &kp CMMA       &kp DOT        &kp SLASH
                                                     &lt 2 SPACE    &sl 1                 &sl 1          &lt 2 BSPC
		  >;
		};

    symbols_layer {
		  bindings = <
        &kp EXCL       &kp AT         &kp HASH       &kp DLLR        &kp PRCNT            &kp LA(HASH)       &kp N7          &kp N8          &kp N9          &kp P 
        &mt LCMD AMPS  &mt LALT LPAR  &mt LCTRL LBKT &mt LSHFT LBRC  &kp STAR             &kp EQUAL      &mt RSHFT N4    &mt RCTRL N5    &mt RALT N6     &mt RCMD APOS
        &kp CARET      &kp RPAR       &kp RBKT       &kp RBRC        &kp GRAVE            &kp N0         &kp N1          &kp N2          &kp N3          &kp BACKSLASH
                                                     &kp TAB         &kp ESCAPE           &kp MINUS      &kp ENTER
	  	>;
		};

		navigation_layer {
		  bindings = <
        &bt BT_CLR     &reset         &bootloader    &kp ESCAPE      &kp ESCAPE           &kp ESCAPE     &kp ESCAPE      &bootloader     &reset          &bt BT_CLR
        &kp LCMD       &kp LALT       &kp LCTRL      &kp LSHFT       &kp ESCAPE           &kp ESCAPE     &kp RSHFT       &kp RCTRL       &kp RALT        &kp RCMD
        &kp ESCAPE     &kp ESCAPE     &kp ESCAPE     &kp ESCAPE      &kp ESCAPE           &kp ESCAPE     &kp ESCAPE      &kp ESCAPE      &kp ESCAPE      &kp ESCAPE
                                                     &kp UP          &kp DOWN             &kp LEFT       &kp RIGHT
		  >;
		};
	};
};
